<div class="contenedor agregar">
    <div class="row">
        <div class="col-6 offset-3">
            <h4 class="row">Modificar una nueva novedad</h4>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{novedades.id}}" name="id">
                <div class="mb3 row">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo"
                        value="{{novedades.titulo}}">
                </div>
                <div class="mb3 row">
                    <textarea type="text" class="form-control" placeholder="Subtitulo"
                        name="subtitulo">"{{novedades.subtitulo}}"</textarea>

                </div>
                <div class="mb3 row">
                    <p class="form-control">
                        <label>Imagen <input type="file" class="form-control" name="imagen"
                        id="imagen"></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete"
                         id="img_delete" value="1"> Eliminar la imagen actual?</label>
                         <input type="hidden" name="img_original" id="img_original"
                         value="{{novedades.id_img}}">
                    </p>

                </div>
                <div class="mb3 row">
                    <textarea type="text" class="form-control" placeholder="Cuerpo"
                        name="cuerpo">{{novedades.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary agregar">Modificar</button>
            </form>
            {{#if error}}
            <p class="message">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>